@import "../../common/colors.scss";
.card-item {
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}

.card-bottom {
  padding: 14px;
  height: 70px;
}
.card-info {
  color: $font-primary;
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}


.movi-containner {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.card-item {
  width: 220px;
  height:auto;
}