@import "../../common/colors.scss";

.card-toop {
  color: "white";
  display: flex;
  width: 100%;
  .card-left {
    width: 25%;
    img {
      max-width: 500px;
    }
  }
  .card-right {
    margin-top: 50px;
    width: 75%;
    .slick-slider.slick-initialized {
     
       width: 90%;
      
     
    }
    img{
      width: 90%;
     }
  }
}
