@import "../../common/colors.scss";

.movies-wrapper{
 
  .movie-list {
    .show-list {
      margin: 20px 0px;
      h2 {
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
    .movie-containners {
      margin: 0 50px;
    }
    .movie-container {
     
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-gap: 15px;
    }
    .movi-containners{
      margin: 0 50px;
    }
  }
}


